
        <a href="javascript:void(0);" class="list-group-item clearfix" (click)="onSelected()">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{foodMenu.name}}</h4>
                <p class="list-group-item-text">{{foodMenu.description}}</p>
            </div>
            <span class="pull-right">
                <img src="{{foodMenu.images}}" alt="{{foodMenu.name}}" class="img-responsive"
                    style="height: 100px; width: 200px;">

            </span>
        </a>

        