<div class="container ">

  <div class="row">
    <!--create a row--->
    <div class="col-12">

      <!--To use 8 grid in the screen-->
      <div class="card">
        <!--create card-->


        <div class="card-body">
          <div class="row">
            <div class="container">
              <nav class="navbar  navbar-dark bg navbar-expand-lg ">

                <div class="collapse navbar-collapse " id="navbarText">
                    <h5> Hotels list </h5>
                </div>
                <span class="navbar-text">
                  <i class="fa fa-cutlery fa-3x" style="color: black;" aria-hidden="true"></i>
                </span>
              </nav>


            </div>
            <!--If your screen is extermely large use 4 grid-->
            <!--If your screen is small use 6 grid-->
            <!--If your screen is extermely small use 12 grid-->
            <div class="col-xl-4 col-sm-6 col-12  " *ngFor="let restaurant of restaurants">
              <div class="row text-center mb-2">
                <div class="col-12">

                  <a [routerLink]="['/hotels/food', restaurant.id]" >
                    <img class="img-fluid mt-3" src="{{restaurant.image}}" alt="Card image cap">
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-12">

                  <a routerLink="/hotels/food">
                    <!-- <app-food-list [foodList]={{restaurant.food}}>

                        </app-food-list> -->
                    <h6 class="card-title font-weight-bold">{{ restaurant.title }} </h6>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p class="card-text"> <small>{{restaurant.text}} </small></p>
                </div>
                <div class="col-md-6">
                  <p class="card-text" style="padding-left: 80px;"> <small>
                      <li class="fa fa-star fa-1x"></li> 4.5
                    </small></p>
                </div>
              </div>



            </div>
          </div>
        </div>

        <!--Add copyright-->

      </div>
    </div>
  </div>
</div>