.card-img-top{
    height: 100%;
    width: 100%;
}
.container{
    margin-top: 10px;
}

.img-fluid{
    height: 20vh;
    width: 50vh;
}
.bg {
    background-color: sandybrown;
}
a{
    color: black;
  }