.container{
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: lightcoral; */
 }
 

.row {
    margin-left: 10vh;
}

.bg{
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
