
<div class="container" style="margin: 80px; ">
    <div class="d-flex card text-white  mb-3 justify-content-center" style="max-width: 50rem;">
        <div class="card-header" style="background-color: burlywood;">
            <h5 class="card-title" style="text-align: center; color: black;">Order food from favourite  Restaurents near you. </h5>
    
        </div>
        <div class="card-body" >
            <input type="text" class="card-text" style="margin-left: 200px;" placeholder="search location" >

            <a routerLink="/hotels/list" routerLinkActive="active" style="color: rgba(224, 132, 12, 0.849);"  class="btn btn-link">
                Search
            </a>
        </div>
      </div>
    </div>
    
    
    
    
    