input[type=text] {
    border: 2px solid rgb(240, 186, 87);
    border-radius: 4px;
  }

  input[type=password] {
    border: 2px solid rgb(240, 186, 87);
    border-radius: 4px;
  }
  .btn-link{
      color: limegreen;
  }